.tbdr{
    border: 1px dashed #000;
}
body{
    font-family: 'RobotoRegular', sans-serif;
    font-size: 0.8em;
}
header{
    background-color: #e40046;
    border: 1px dashed red;
}
.inputBox{
    width: 519px;
    height: 367px;
    z-index: 1000;
    box-shadow: 0px 0px 3px black;
    display: block;
    margin-left: 15px;
}
.inputBox nav{
  list-style: none !important;
}

.a_hform{
    height: 37px;
    width: 97%;
    background-color:red(250, 241, 241);
    border-radius: 1px;
    margin-left: 40px;
}
.a_hform input{
border: none !important;
}
.a_hform input:focus{
    box-shadow: none !important;
    border: none !important;
}
.a_hform input:focus + .inputBox{
    display: block;
}

.a_header_top{
    height: 30px;
    background: #c7003d;
}
.a_header_top > .container {
    
    height: 100%;
    max-width: 1225px !important;
}
.first{
    padding-bottom: 10px;
    margin-top: 10px;
}
.a_header_bottom{
    height: 65px;
    border: 1px dashed red;
}
.a_header_bottom > .container {
    border: 1px dashed #000;
    height: 110%;
    max-width: 1225px !important;
}
.snapdeal{
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
   margin-top: 0px;
   
}

a{text-decoration:none;}
.form-control{
    width: 600px;
    margin-left: 15px;
    border-radius: 0px;
}
.search-color{
    background-color: #000;
}
.search-btn{
    border: none;
    font-size: 20px;
    margin-left: 200px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 3.5px;
    padding-bottom: 4px;
    background-color: #000;
    height: 38px;
    margin-bottom: 9px;
    margin-top: -1px;
    font-weight: 100px;
    
}
.a_hbot_nav{
    margin-left: 0px;
}
.a_main{
    background-color: #f7f7f7;
    border: 1px dashed green;
}
.a_main1{
    border: 1px dashed #000;
    height: 6673px;
    max-width: 1225px !important; 
}
.a_main1_b1{
    border: 1px dashed red;
    height: 816px;
}
.a_main1_b1 > div{
    border: 1px dashed #000;
}
.a_slider{
    height: 345px;
    border: 1px dashed orange;
}
.carousel-indicators > button{

    background-color: whitesmoke !important;
    width: 220px !important;
    height: 43px !important;
    text-indent: 0px !important;
    vertical-align: baseline !important;
    border-bottom: #000 !important;
    font: black;
}
.a_trending_products{
    height: 450px;
    border: 1px dashed red;
}
.a_main2{
    border: 1px dashed red;
    height: 455px;
}
footer{
    background-color: #f7f7f7;
    border: 1px dashed blue;
}
.a_foot1{
    border: 1px dashed red;
    height: 550px;
    max-width: 1225px !important; 
}
.a_foot2{
    border: 1px dashed green;
    height: 997px;
    max-width: 1225px !important; 
}
.a_foot3{
    border: 1px dashed orange;
    height: 46px;
    max-width: 1225px !important; 
}